<div class="w-100 center mw8 pt2">
    <div class="fl w-50 ">
        <h1 class="f6 fl">Raw input</h1>
        <a class="fr f6 link dim br3 ph2 pv1 mb1 mr4 dib white bg-dark-green" href="#process" id="process">Process</a>
        <div class="db">
            <textarea rows="30" id="input_text" name="input_text" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"></textarea>
        </div>
    </div>
    <div class="fl w-50">
        <h1 class="f6">NLP Output</h1>
    </div>
</div>